{% extends 'base.html.twig' %}
{% block body %}
<div class ="container">
	<h1>Bonjour home page Admin</h1>
	<div class="row">
		<div class="col-6">
			<ul class="list-group">
				<a href="{{ path('project_index') }}">	
				  <li class="list-group-item">Project</li>
				</a> 
				<a href="{{ path('user_index') }}" 
				  <li class="list-group-item">User</li>
				</a> 	
			</ul>
		</div>
	</div>	
</div>
{% endblock %}