<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ path('home_index') }}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      {% if app.user %}
      <li class="nav-item p-2">
          <a href="{{ path('admin_index') }}">Admin</a>
      </li>
      <li class="nav-item p-2">
        <a href="{{ path('app_logout') }}">Log out</a>
      </li>
      {% else %}
      <li class="nav-item p-2">
          <a href="{{ path('app_login') }}">Log In</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
